<div class="panel">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-2">
                <a data-toggle="collapse" class="collapsed" data-target="#collapseList">
                    <i class="fa fa-chevron-down fa-lg"></i>
                </a>
            </div>
            <div class="input-group form-group col-xs-10">
                <div class="input-append">
                    <input class="form-control" name="filter" placeholder="Items: {{ ctl.items.items.length }}"
                    ng-model="ctl.items_filter" />
                </div>
                <span class="input-group-addon"><i class="fa fa-filter fa-lg"></i></span>
                <button class="btn btn-block btn-default" ng-click="ctl.refresh();">
                    <span class="badge pull-left"><i
						class="fa fa-sitemap fa-fw fa-lg"></i></span>
                    {{item.name}}
                </button>
            </div>
        </div>
        <div id="collapseList" class="panel panel-default collapse">
            <ul>
                <li class="list-unstyled" ng-repeat="item in ctl.items.items | filter:ctl.items_filter">
                    <button ng-show="item.name !== undefined" class="btn btn-block btn-danger" ng-click="ctl.showDetail(item);">
                        <span class="badge pull-left"><i
						class="fa fa-check-circle-o fa-fw fa-lg"></i></span>
{{item.name}}
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel-body collapse" id="collapseList">
        <ul>
            <li class="list-unstyled" ng-repeat="item in ctl.items.items | filter:ctl.items_filter">
                <button ng-show="item.name !== undefined" class="btn btn-block btn-success" ng-click="ctl.showDetail(item);">
                    <span class="badge pull-left"><i
						class="fa fa-check-circle-o fa-fw fa-lg"></i></span>
                    {{item.name}}
                </button>
                <button ng-show="item.name === undefined" class="btn btn-block btn-default" ng-click="ctl.showDetailect(item);">
                    <span class="badge pull-left"><i
						class="fa fa-sitemap fa-fw fa-lg"></i></span>
                    {{item.name}}
                </button>
            </li>
        </ul>
    </div>
</div>
